#content-pregunta{
    background-color: #272445;
   color:white;
    
}

#content-respuesta1{
    background-color: #2a8c0d;
    color:white;
    
}

#content-respuesta2{
    background-color: #e21b3a;
    color:white;
    
}

#content-respuesta3{
    background-color: #c99e0d;
    color:white;
    
}

#content-respuesta4{
    background-color: #126acc;
    color:white;
    
}