body{
    background-color: #5E5A59;
}

#content-pregunta{
    background-color: white;
   
    border-radius: 15px;
}

#content-respuesta1{
    background-color: green;
   
    border-radius: 15px;
}

#content-respuesta2{
    background-color: red;
   
    border-radius: 15px;
}

#content-respuesta3{
    background-color: yellow;
   
    border-radius: 15px;
}

#content-respuesta4{
    background-color: blue;
   
    border-radius: 15px;
}

