<html >
    
<head>
     
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/static/stylesheets/style.css">   
</head>
<body >
    <h1 class="text-center" >Encuesta Didactica <span class="badge badge-secondary">Semana Tic</span></h1>    
    
    <div class="row justify-content-center w-100 p-3">
        <div id="content-pregunta" class="col-6 w-100 p-3"><h2 class="text-center align-middle" >¿Cuantas horas le dedicas a las redes sociales?</h2></div>
        
    </div>

    <div class="row justify-content-around">
        <div id="content-respuesta1" class="col-5 w-75 p-3"><h2 class="text-center align-middle" >Mas de 5hs al día</h2></div>
        <div id="content-respuesta2" class="col-5 w-75 p-3"><h2 class="text-center align-middle" >Entre 4hs a 5hs al día</h2></div>
    </div>
    <div class="row justify-content-around" style="margin-top: 2%">
        <div id="content-respuesta3" class="col-5 w-75 p-3"><h2 class="text-center align-middle" >3hs al día</h2></div>
        <div id="content-respuesta4" class="col-5 w-75 p-3"><h2 class="text-center align-middle" >Menos de 3hs al día</h2></div>
    </div>    
        
        
        
    

    <p>Leido</p>

    
    <p id="cardId"></p>
    <script>
    $(document).ready(function(){
        setInterval(leer_cososo, 1000);
        function leer_cososo(){
            console.log("leyendo cososo")
            $.get("/serial-data", function(data){
                console.log("lei: "+data)
                if(data.data != ""){
                    $('#cardId').text(data.data)
                }
            })
        }
    })
    </script>
    
</body>
</html>